Dress/Dress/Library/
Dress/Dress/Temp
Dress/Dress/UnityVS.Dress.CSharp.csproj
Dress/Dress/UnityVS.Dress.CSharp.Editor.csproj
Dress/Dress/UnityVS.Dress.sln
Dress/Dress/obj/Debug/Assembly-CSharp.dll
Dress/Dress/obj/Debug/Assets.Csv.Resources.ExceptionMessage.resources
Dress/Dress/obj/
Dress/Dress/UnityVS.Dress.v12.suo
Dress/Dress/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Dress/Dress/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
